.git/
.gitattributes
.gitignore
.editorconfig

vendor/
node_modules/
auth.json

LICENSE
README.md
Makefile

*.Dockerfile
.envs/
.env
*.env
docker-compose.yml
docker-compose.*.yml

.vscode/
.fleet/
.idea/
