#############################################################
# Docker Compose Settings
#############################################################

# Necessary for Windows
# --------------------------------------------------
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
# --------------------------------------------------
COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml

# Change the separator from : to ; on Windows
# --------------------------------------------------
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
# --------------------------------------------------
COMPOSE_PROJECT_NAME=myapp

# User UID + GID
# --------------------------------------------------
UID=1000
GID=1000

# Image Tag Suffix
# --------------------------------------------------
# NGINX_TAG_SUFFIX=

# PHP Composer Stuffs
# --------------------------------------------------
# COMPOSER_AUTH_JSON_PATH=../auth.json
# COMPOSER_CACHE_PATH=~/.cache/composer

# Extra Tools: Add APT & PHP Extensions; separated by space
# --------------------------------------------------
# NGINX_EXTRA_INSTALL_APT_PACKAGES=
# PHP_EXTRA_INSTALL_APT_PACKAGES=
# PHP_EXTRA_INSTALL_PHP_EXTENSIONS=xdebug

# Resource Limits
# --------------------------------------------------
# NGINX_CPU_LIMIT=1.0
# NGINX_MEMORY_LIMIT=64M
# PHP_CPU_LIMIT=1.0
# PHP_MEMORY_LIMIT=128M
# PHP_CLI_CPU_LIMIT=1.0
# PHP_CLI_MEMORY_LIMIT=2G
